.category_page {
  background-image: url("../../assets/background.png");
  background-size: cover;
  height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center contents horizontally */
}

.flex-container {
  display: flex;
 column-gap: 20px;
  align-items: center;
  align-items: flex-start; /* Align items at the start */

  /* Optional: Set a max width for the container */
   /* Add margin for spacing */
 
}
.flex-box3{
  width:600px;
  align-items: center;
}

.textcategory {
  color: white;
}



@media (max-width: 768px) {
  .flex-container {
    flex-direction: column; /* Stack vertically on smaller screens */
    align-items: center;
    width: 100%;
  }

  .category_card {
    width: 90%; /* Full width for cards on smaller screens */
  }
}
