
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
}


.profile-page {
  background-image: url("../../assets/background.png");
  background-size: cover;
  height: 300vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: absolute;
  width: 1000px;  
  height: 1200px; 
  left: 59px;
  top: 190px;

}

.profile-box {
  position: absolute;
  width: 1200px;  
  height: 290px;  
  left: 59px;
  top: 30px;

  background: rgba(0, 180, 216, 0.22);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.profile-picture-container {
  position: relative;
  width: 150px;
  height: 150px;
.profile-box,
.info-box,
.resume-box,
.work-experience-box,
.education-box {
  background-color: blue;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #00B4D8;
  color: #fff;
}

input[type="text"],
input[type="email"] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
}

.box {
  background: rgba(0, 180, 216, 0.22);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  position: absolute;
}

.header {
  background: #00B4D8;
  border-radius: 10px 10px 10px 10px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

.personal-info {
  width: 450px;  
  height: 220px;  
  left: 59px;
  top: 400px;
}

.resume {
  width: 650px;  
  height: 220px; 
  left: 575px;
  top: 850px;
}

.work-experience {
  width: 650px;  
  height: 390px;  
  left: 575px;
  top: 400px;
}

.education {
  width: 450px;  
  height: 390px; 
  left: 55px;
  top: 680px;
}

.save-button-container {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 30px;  
}

.save-button {
  background-color: #00B4D8;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
}