* {
    text-decoration: none;
  }
  
  .navBar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 50px;
    padding-top: 20px;
  }
  
  .navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease 0s;
  }
  
  .logo1 a {
    font-size: 35px;
    font-weight: 600;
    color: #fffefe;
    cursor: pointer;
  }
  
  .navUl {
    display: flex;
    align-items: center;
    gap: 20px; /* Increase the gap between items */
  }
  
  .navUl li {
    display: inline;
    list-style: none;
  }
  
  .navUl li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .navUl li a:hover {
    color: #00b4d8; /* Change the font color on hover */
  }
  
  button {
    background-color: #00b4d8;
    margin-left: 10px;
    border-radius: 10px;
    width: 117px;
    height: 45px;
    cursor: pointer;
    font-weight: bolder;
    transition: background-color 0.3s ease;
  }
  
  button a {
    color: black;
    font-size: 15px;
  }
  
  button:hover {
    background-color: rgb(255, 255, 255);
  }

  @media screen and (max-width: 760px)
  {
    
  }