.card body{
  align-items: center;
}
.card {

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
   margin: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.part1,
.part2 {
  margin-bottom: 0px;
}
.part1{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  height: 80px;
  background: transparent;
  background: rgba(0, 205, 246, 0.362);
  padding: 20px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.part2{
  background-color: #00B4D8;
  border-radius: 10px;
  height:60px;
  display: flex;          /* Enables flexbox */
  justify-content: space-between; /* Adjust spacing between elements as needed */
  align-items: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  

}

.company_name {
  color: #007bff;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.title {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

.duration,
.type,
.location {
  font-size: 14px;
  color: #030000;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  
}

.viewbutton {
  text-align: right;
  margin-right: 5px;
  transition: background-color 0.3s ease;
  }

.apply {
  background-color: #030303;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding:0; 
  cursor: pointer;
  font-size: 14px;
  font-weight:150px;
}

.apply:hover {
  background-color: #00090b;
}

{/*.card:before{
  content:"";
  position:absolute;
  width:600px;
  height:100%;
  background: rgba(0, 0, 0, 0.1);
  background: rgba(93, 96, 127, 0.362);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}*/}