body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  margin: 0; /* Remove default margin */
}

.cardPage {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-image: url("../../assets/homepage.png");
  background-attachment: fixed;
  background-size: cover;
}

.locationlogo {
  width: 10px;
  height: 18.5px;
  margin-right: 2px;
}

.remotelogo {
  width: 20px;
  height: 20px;
  margin-right: -5px;
}

.timelogo {
  width: 15px;
  height: 18px;
  margin-right: -5px;
}

.cardHeader {
  padding: 10px;
  color: white;
  height: 100vh;
  background-image: url("../../assets/homepage.png");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  margin-bottom: 20px;
}

.cardHeader p {
  font-size: 25px;
}

.cardSearchBar {
  display: flex;
  align-items: center;
  padding: 7.9px;
  font-size: 1em;
  width: 500px;
  justify-content: space-between;
}

.cardSearch {
  border: none;
  outline: 0;
  padding: 12px 25px;
  font-size: 18px;
  background-color: aliceblue;
  color: black;
  border-radius: 30px;
  flex: 1;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
}

.cardSearchBar button {
  border: none;
  outline: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 10px;
}

.card-section {
  align-items: center;
}

.cardButton {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #343839;
  color: #fdfdfd;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  height: 46px;
}

.card-featured-internships {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  font-size: 1em;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #75e4fa57;
  box-sizing: border-box;
  margin-left: 20px;
}

.cardSearchBar input {
  display: flex;
  padding: 10px;
  font-size: 1em;
  width: 1000px;
  border: none;
  border-radius: 10px;
}

.card-featured-internships h2 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-style: initial;
  overflow: hidden;
  border-radius: 10%;
  text-overflow: ellipsis;
}

.internship-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.internship-cards h2 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-style: initial;
  overflow: hidden;
  border-radius: 10%;
  text-overflow: ellipsis;
}

.internship-card {
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  text-align: left;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s; /* Smooth transition for hover effect */
}

.internship-card:hover {
  background-color: #75e4fa57;
  transform: scale(1.05); /* Slightly increase the size */
}
.card-header {
  background-color: #041b1e;
  color: rgb(249, 246, 246);
  padding: 50px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  background-color: #2cd4e7bc;
  padding: 15px;
  margin-top: auto;
}
