.flex-container {
  display: flex;
  border: none;
}

.flex-box1 {
  width: 62%;
  height: 100vh;
  background-color: black;
  padding: 0;
  margin: 0;
  border: none;
}

.logo2 {
  color: white;
  font-size: 40px;
  margin-left: 188px;
  font-style: italic;
  margin-top: 200px;
  margin-bottom: 0;
  padding: 0;
}

.welcome {
  color: rgb(0, 180, 216, 0.54);
  font-size: 40px;
  margin-top: 100px;
  margin-left: 188px;
  padding: 0%;
  border: none;
}

.internx {
  color: rgb(0, 180, 216);
  font-size: 65px;
  margin-top: 25px;
  margin-left: 188px;
}

.login {
  color: black;
  margin-left: 200px;
  margin-top: 150px;
  margin-right: 39px;
  padding: 0;
  border: none;
  font-size: 40px;
  justify-content: center;
  align-items: center;
}

.input-box1 {
  margin: 20px 0;
}

.input-box1 input {
  width: 300px;
  height: 35px;
  border: 1px solid #00b4d8;
  border-radius: 10px;
  padding: 5px;
  color: black;
  margin: 5px 0;
}

.loginButton {
  width: 300px;
  margin-left: 0px;
  height: 35px;
  border-radius: 10px;
  background-color: #00b4d8;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.divider {
  flex-grow: 2;
  height: 1px;
  background-color: #ccc;
}

.divider-text {
  margin: 0 10px;
  color: #888;
  font-family: Arial, sans-serif;
  font-size: small;
}

.googleButton {
  width: 305px;
  margin-left: 0px;
  height: 35px;
  border-color: #00b4d8;
  border-radius: 10px;
  cursor: pointer;
}

label {
  display: block;
  margin: 10px 0;
}

.google-button img {
  height: 25px;
  width: 40px;
  margin-right: 10px;
  margin-top: -20px;
  margin-bottom: -10px;
  padding-top: 10px;
  padding-bottom: 1px;
}

.flex-box02 {
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -150px;
  margin-left: -50px;
}

.terms {
  font-size: 12px;
  padding: 5px;
  justify-content: space-between;
  display: flex;
  margin: 0;
  align-items: center;
  margin-bottom: 10px;
}

.terms input {
  margin-left: -5px;
}
