.flex-container {
  display: flex;
}
.flex-box1 {
  width: 62%;
  height: 100vh;
  background-color: black;
  padding: 0%;
  margin: 0px;
  border: none;
}

.logo {
  color: white;
  font-size: 40px;
  margin-left: 188px;
  font-style: italic;
  margin-top: 200px;
  margin-bottom: 0px;
  padding: 0px;
}

.welcome {
  color: rgb(0, 180, 216, 0.54);
  font-size: 40px;
  margin-top: 100px;
  margin-left: 188px;
  padding: 0%;
  border: none;
}

.internx {
  color: rgb(0, 180, 216);
  font-size: 65px;
  margin-top: 25px;
  margin-left: 188px;
}

.login {
  color: black;
  margin-left: 200px;
  margin-top: 150px;
  margin-right: 39px;
  padding: 0%;
  border: none;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.input-box {
  position: relative;
  width: 300px;
  height: 20px;
  margin: 30px;
}

.input-box input {
  width: 300px;
  height: 28px;
  border-color: #00b4d8;
  border-radius: 10px;
  margin-left: -30px;
  align-items: center;
  justify-items: center;
}

.remember-forget {
  font-size: 12px;
  padding: 5px;
  justify-content: space-between;
  display: flex;
  margin: 0;
  align-items: center;
}

.remember-forget label {
  margin: 0;
  padding: 0;
}

.remember-forget a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#loginButton {
  width: 300px;
  margin-left: 0px;
  height: 35px;
}

.Or {
  font-size: 15px;
  align-items: center;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#googleButton {
  width: 300px;
  margin-left: 0px;
  height: 35px;
}
