.select-user {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../assets/landingpage.png");
  background-size: cover;
  position:relative;
}

.select-user-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.job-seekers,
.companies {
  width: 50%;
  padding:20px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 255, 255);
  position: relative;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.job-seekers h2,
.companies h2{
  color: #00b4d8;
}
.job-seekers:hover {
  background-color: rgba(70, 173, 214, 0.4);
}
.login-buttonSC {
  
  background-color: #00b4d8;
  font-size: 15px;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto 10px auto;
  display: inline-block;
}


.companies:hover {
  background-color: rgba(0, 82, 165, 0.4);
}

.companies {
  width: 50%;
  z-index: 1;
}


.signup-link {
  color: white;
  font-size: 19px;
  text-decoration: underline;
  cursor: pointer;
}

.signup-link:hover {
  color: rgb(2, 2, 2);
}


/* blue gradient background */
.select-user-content::before {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 50%;
  width: 2px;
  background-color: white;
  z-index: 0;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
}


@media (max-width: 768px) {
  .select-user-content {
    flex-direction: column;
  }

  .job-seekers,
  .companies {
    width: 100%;
    font-size: medium;
  }

  .select-user-content::before {
    display: none;
  }
  .login-button {
    width: 20%;  
    padding: 12px 0;  
    font-size: 14px; 
   
  }

  .signup-link {
    font-size: 16px; 
  }
  .job-seekers:hover,
  .companies:hover {
    background-color: rgba(0, 90, 150, 0.5); 
  }
}


@media (max-width: 480px) {
  .login-button {
    width: 90%;  
    padding: 14px 0;  
    font-size: 20px;  
  }

  .signup-link {
    font-size: 14px; 
  }

  .job-seekers:hover,
  .companies:hover {
    background-color: rgba(0, 90, 150, 0.5); 
  }
}