.jobDetails{
    background-color: #00B4D8;
    margin:50px;
    padding:50px;
    border-radius: 12px;
    gap:10px
}
.companyCard{
    margin-top: 10px;
}
.load{
    color:aliceblue;
}
.section-two
{
  margin-left: 50px;
}

.DeleteButton{
    background-color: #ff0000;
    color: rgb(9, 9, 9);
    border: none;
    border-radius: 10px;
    padding:0; 
    cursor: pointer;
    font-size: 14px;
    font-weight:150px;    
  }
  
  .EditButton{
    background-color: #39e81e;
    color: rgb(9, 9, 9);
    border: none;
    border-radius: 10px;
    padding:0; 
    cursor: pointer;
    font-size: 14px;
    font-weight:150px;
  }
  