.Content {
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin: 40px auto;
  justify-content: space-between;
  gap: 100px;
  padding: 10px;
}

.profile-box {
  width: 90%;
  height: 150px;
  background: rgba(0, 180, 216, 0.22);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
}

.profile-picture-container {
  position: relative;
  width: 150px;
  height: 150px;
   
}

.profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  display: inline-block;
  
  border-radius: 5px;
  background-color: #00b4d8;
  color: #fff;
}

.company-info {
  background: rgba(232, 235, 236, 0.22);
  border-radius: 110px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background: #00b4d8;
  border-radius: 10px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  width: 280px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.update-button,
.NewAdd {
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  background-color: #00b4d8;
  color: #000;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
}

.update-button:hover,
.NewAdd:hover {
  background-color: #009cb8;
}

.update-button:active,
.NewAdd:active {
  background-color: #007a8c;
}

.editC {
  background-color: #009cb8;
  width:auto;
  height: 28px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border: none;
  cursor: pointer;
}

.InternCards {
  width: 10%;
  margin-top: 250px;
}
