.Content {
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
InternCards {
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center items vertically */
  align-items: flex-end;
  background: transparent;
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.NewInt {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-right: 20px;
}
.NewAdd {
  background-color: "#00B4D8";
  margin-top: "10px";
  border-radius: "1px";
  padding: "5px 5sx";
  width: "100px";
  height: "45px";
  color: "rgb(0, 0, 0)";
  font-weight: "bolder";
  border: "none";
  cursor: "pointer";
  transition: "background-color 0.2s ease-in-out";
  border: "1px solid #00B4D8";
  height: 50px;
}
