.Content {
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin: 40px auto;
  justify-content: space-between;
  gap: 100px;
  padding: 10px;
  margin-left: 100px;
}

.profile-box {
  width: 90%;
  height: 150px;
  background: rgba(0, 180, 216, 0.22);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 60px;
}

.profile-picture-container {
  position: relative;
  width: 150px;
  height: 80px;
  margin-bottom: 10px;
}

.profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  cursor: pointer;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #00b4d8;
  color: #fff;
}

.company-info {

  background: rgba(0, 180, 216, 0.22);
  border-radius: 10px;
  padding: 20px;
  margin-top: 210px;
  display: flex;
  flex-direction: column; /* Ensures items stack vertically */
  align-items: center;
}
.header {
  background: #00b4d8;
  border-radius: 10px;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  width: 280px;
}

.form-group {
  margin-bottom: 20px;
  margin-top: -120px;
}

.form-group label {
  display: block;
    font-weight: bold;
}

.form-group input {
  width: 100%;
  
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.update-button {
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  background-color: #00b4d8;
  color: #000;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
  margin-top: -100px;
}

.update-button:hover {
  background-color: #009cb8;
}

.update-button:active {
  background-color: #007a8c;
}

.InternCards {
  width: 10%;
  margin-top: 200px;
}

.NewAdd {
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  background-color: #00b4d8;
  color: #000;
  cursor: pointer;
  padding: 10px 20px;
}

.NewAdd:hover {
  background-color: #009cb8;
}

.NewAdd:active {
  background-color: #007a8c;
}
