.Content{
    background-image: url('../../assets/background.png');        
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    
}